body {
    background-color: rgb(199, 196, 196);
    font-family: 'Courier New', Courier, monospace;
    margin-left: 50px;
    margin-right: 50px;
}

h1 {
    text-align: center;
    color: antiquewhite;
    font-size: 30px;
}

#mojaFotografija {

    width: 250px; 
    height: auto;
    border-radius: 10%;
    border: yellowgreen solid 5px;
    border-style: double;
    margin: 15px;
    float: right;
}
.oMeni {
   padding: 25px;
   font-size: 25px;
   text-align: justify;
}

img {
    width: 110px;
    height: 110px;
    margin: 25px;
}


li a{ 
    text-decoration: none;
    color: brown;
}

li a:hover{
    color: rgb(71, 55, 30);
}
button {
    background: none;
    border: 2px solid greenyellow;
    border-radius: 10%;
}
button:hover {
    background-color: grey;
    transition: 0.8s;
}
address {
    text-align: right;
}